{% extends 'base.html.twig' %}

{% block title %}Se connecter
{% endblock %}

{% block body %}
	<div class="container my-5">
		<div class="row justify-content-center">
			<form method="post" class="col-lg-4">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						You are logged in as
						{{ app.user.userIdentifier }},
						<a href="{{ path('app_logout') }}">Logout</a>
					</div>
				{% endif %}

				<h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>

				<label for="inputUsername">Identifiant</label>
				<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>

				<label for="inputPassword">Mot de passe</label>
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="d-flex">
                    <button class="btn btn-lg btn-primary mt-5" type="submit">
                        Se connecter
                    </button>
                    <div class="card-footer d-flex justify-content-center">
                        <a href="{{ path('app_forgot_password_request') }}" title="Récupérez votre mot de passe">Mot de passe perdu</a>
                    </div>
                </div>
			</form>
		</div>
	</div>
{% endblock %}
