{% extends 'base.html.twig' %}
{% block title %}TaxiPrestige - Réserver{% endblock %}
{% block body %}
	<main id="booking" class="pb-5">
		<h2 class="text-center">Réserver votre taxi</h2>
		<div class="container">
			<div class="mx-2 ">
				<p class=" text-center">Le formulaire de réservation est spécifiquement destiné aux courses nécessitant
					<strong>un trajet d'au moins 30 km.</strong><br>
					Pour des courses immédiates ou pour les trajets courts, nous vous prions de bien vouloir nous joindre directement par téléphone. Veuillez noter que les réservations effectuées via ce formulaire doivent être planifiées au minimum
					<strong>pour le lendemain.</strong>
				</p>
				{% if alertClass and alertMessage %}
					<div class="alert {{ alertClass }} alert-dismissible fade show">
						{{ alertMessage }}
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				{% endif %}
			</div>
			
			<div id="bookingForm" class="mx-1">
				{{ form_start(bookingForm) }}
				{{ form_widget(bookingForm._token) }}
				<div class="row">
					<div class="col-sm-6 col-md-3">
						{{ form_row(bookingForm.firstName) }}
					</div>
					<div class="col-sm-6 col-md-3">
						{{ form_row(bookingForm.lastName) }}
					</div>

					<div class="col-md-4">
						{{ form_row(bookingForm.email) }}
					</div>
					<div class="col-md-2">
						{{ form_row(bookingForm.phone) }}
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 col-md-4">
						{{ form_row(bookingForm.day) }}
					</div>
					<div class="col-3">
						{{ form_row(bookingForm.numberUser, {
							'attr': {'min': 0, 'inputmode': 'numeric'}
						}) }}
					</div>
					<div class="col-3">
						{{ form_row(bookingForm.suitcase, {
							'attr': {'min': 0, 'inputmode': 'numeric'}
						}) }}
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						{{ form_row(bookingForm.departure)}}
						<!-- Div pour afficher les suggestions -->
						<div id="suggestions-depart"></div>
					</div>
					<div class="col-md-6">
						{{ form_row(bookingForm.arrival) }}
						<div id="suggestions-arrival"></div>
					</div>
				</div>
				<div>
				{{ form_row(bookingForm.message ) }}
				</div>
				<div>
				{{ form_row(bookingForm.acceptTerms)}}
				</div>
				<div class="row">
					<div class="col-md-12 text-center">
						{{ form_row(bookingForm.submit) }}
					</div>
				</div>>
					{{ form_end(bookingForm)}}
				</div>
			</div>
		</div>
	</main>
	<script>
		document.addEventListener('DOMContentLoaded', function () {
			const apiUrl = 'https://api-adresse.data.gouv.fr/search/';
			const limit = 5;

			let departure = document.querySelector('input[name="booking[departure]"]'); // Utilisez le nom du champ
			let arrival = document.querySelector('input[name="booking[arrival]"]');
			let suggestionsDepartDiv = document.getElementById('suggestions-depart');
			let suggestionsArrivalDiv = document.getElementById('suggestions-arrival');

			departure.addEventListener('input', function () {
				const query = departure.value;

				if (query.length > 2) {
					const requestUrl = `${apiUrl}?q=${encodeURIComponent(query)}&limit=${limit}&type=&autocomplete=0`;

					fetch(requestUrl).then(response => response.json()).then(data => {
					suggestionsDepartDiv.innerHTML = '';
						if (data.features) {
							data.features.forEach(feature => {
							suggestionsDepartDiv.innerHTML += `<p>${feature.properties.label}</p>`;
							});
						}
					}).catch(error => {console.error('Une erreur s\'est produite lors de l\'appel à l\'API', error);});
				} else {
					suggestionsDepartDiv.innerHTML = ''; // Effacer les suggestions si le texte est trop court
				}
			});

			arrival.addEventListener('input', function () {
				const query = arrival.value;

				if (query.length > 2) {
					const requestUrl = `${apiUrl}?q=${encodeURIComponent(query)}&limit=${limit}&type=&autocomplete=0`;

					fetch(requestUrl).then(response => response.json()).then(data => {
					suggestionsArrivalDiv.innerHTML = '';
						if (data.features) {
						data.features.forEach(feature => {
							suggestionsArrivalDiv.innerHTML += `<p>${feature.properties.label}</p>`;
							});
						}
					}).catch(error => {console.error('Une erreur s\'est produite lors de l\'appel à l\'API', error);});
				} else {
				suggestionsArrivalDiv.innerHTML = '';
				}
			});

			// Ajoutez le gestionnaire d'événements pour le clic sur les suggestions de départ
			suggestionsDepartDiv.addEventListener('click', function (event) {
				if (event.target.tagName === 'P') {
				departure.value = event.target.textContent;
				suggestionsDepartDiv.innerHTML = ''; // Effacez les suggestions après avoir sélectionné
				}
			});

			// Ajoutez le gestionnaire d'événements pour le clic sur les suggestions d'arrivée
			suggestionsArrivalDiv.addEventListener('click', function (event) {
				if (event.target.tagName === 'P') {
				arrival.value = event.target.textContent;
				suggestionsArrivalDiv.innerHTML = ''; // Effacez les suggestions après avoir sélectionné
				}
			});
		});
	</script>

	{# Le script JavaScript écoute l'événement "input" sur le champ de départ et déclenche l'appel à l'API Adresse lorsque l'utilisateur saisit au moins 3 caractères. Les suggestions d'adresses retournées par l'API peuvent être affichées sur la page, par exemple, dans une liste déroulante.#}

{% endblock %}
