{% extends 'base.html.twig' %}
{% block title %}TaxiPrestige - Contact{% endblock %}
{% block body %}
	<main id="contact" class="mb-5">
		<div class="container">
			<h2 class="text-center">Nous contacter</h2>
			{# Afficher l'alerte de succès ou d'erreur en fonction de la classe CSS #}
			{% if alertClass and alertMessage %}
				<div class="alert {{ alertClass }}">
					{{ alertMessage }}
				</div>
        	{% endif %}
			<div class="row">
				<div class="col-md-5">
					<div class="row justify-content-evenly text-center mx-auto mb-3">
						<div class="col-md-6 card" >
							<img src="{{asset('images/phone-solid.svg')}}" class="card-img-top" alt="telephone">
							<div class="card-body h-100">
								<h5 class="card-title">Téléphone</h5>
								<p class="card-text">07 82 28 62 78</p>
							</div>
						</div>
						<div class="col-md-6 card" >
							<img src="{{asset('images/square-parking-solid.svg')}}" class="card-img-top" alt="parking">
							<div class="card-body">
								<h5 class="card-title">Station</h5>
								<p class="card-text">2 boulevard Pont Achard 86000 Poitiers</p>
							</div>
						</div>
					</div>
					<div class="row justify-content-evenly text-center mx-auto mb-3">
						<div class="col-md-6 card">
							<img src="{{asset('images/envelope-solid.svg')}}" class="card-img-top " alt="enveloppe">
							<div class="card-body">
								<h5 class="card-title">Email</h5>
								<p class="card-text">contact@taxiprestige.fr</p>
							</div>
						</div>
						<div class="col-md-6 card">
							<img src="{{asset('images/whatsapp.svg')}}" class="card-img-top " alt="whatsapp">
							<div class="card-body">
								<h5 class="card-title">Whatsapp</h5>
								<p class="card-text">07 82 28 62 78</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-7">
				{% include "_blocks/_contact_form.html.twig" %}  
				</div>  
			</div>
		</div>
	</main>
{% endblock %}