{% extends 'base.html.twig' %}
{% block title %}TaxiPrestige - Accueil{% endblock %}
{% block body %}
	<main>
		{% include "_blocks/_banniere.html.twig" %}
		<section id="welcome">
			<div class="container">
				<div class="d-flex flex-column justify-content-center text-center">
					<h2>Bienvenue!</h2>
					<p>Je vous invite à plonger dans un univers d'élégance et de confort, conçu pour vous offrir une expérience de déplacement exceptionnelle. Que vous soyez en quête d'un service de transport haut de gamme pour vos rendez-vous d'affaires, vos événements spéciaux ou simplement pour vous offrir le luxe de voyager dans le confort, je suis là pour répondre à tous vos besoins avec professionnalisme.</p>
				</div>
			</div>
		</section>
		{% include "_blocks/_benefit.html.twig" %}
		<section id="opinion" class="pb-3">
			<div class="container">
				<h3>Ce que disent nos clients</h3>
				<blockquote id="testimonial" >
				</blockquote>
			</div>
		</section>
		{% include "_blocks/_about.html.twig" %}
		<section id="car">
			<div class="container">
				<h2 class="text-center">Votre voiture</h2>
				<p class="text-center pb-3">
					Avec un design élégant et des équipements de qualité, chaque trajet devient une occasion de profiter d'un voyage agréable et relaxant. Nos sièges spacieux et bien aménagés vous garantissent un confort optimal pendant toute la durée de votre déplacement. Que ce soit pour des déplacements professionnels ou des loisirs, notre voiture vous assure une expérience de taxi où le confort est au rendez-vous.</p>
				<div class="row gx-1 gx-md-4 justify-content-around text-center">
					<figure class="figure col-12 col-md-3">
						<img src="{{asset('images/marque.jpg')}}" class="figure-img img-fluid h-100" alt="Marque bmw">
						<figcaption class="figure-caption">Prestige</figcaption>
					</figure>
					<figure class="figure col-12 col-md-3">
						<img src="{{asset('images/siege.jpg')}}" class="figure-img img-fluid h-100" alt="Siège en cuir beige">
						<figcaption class="figure-caption">Confort</figcaption>
					</figure>
					<figure class="figure col-12 col-md-3">
						<img src="{{asset('images/voiture.jpg')}}" class="figure-img img-fluid h-100" alt="Voiture noire">
						<figcaption class="figure-caption">Securité</figcaption>
					</figure>
				</div>
			</div>
		</section>
		

	</main>
	<script>
	// Récupérer la clé API à partir de votre environnement Symfony
    const apiKey = "{{ apiKey }}";

	// URL de l'endpoint de Outscraper
    const endpointUrl = "https://api.app.outscraper.com/maps/reviews-v3";

	// Les requêtes pour récupérer les avis
    const queries = [
        "Taxi J'M,Nieuil l'Espoir, France ",
        // Ajoutez d'autres requêtes ici
    ];

	// Construire les paramètres de requête
    const queryParams = queries.map(query => `query=${encodeURIComponent(query)}`).join("&");

	  // URL complète de l'endpoint avec les paramètres de requête
    const fullEndpointUrl = `${endpointUrl}?${queryParams}&reviewsLimit=3&async=false`;
  // Index du témoignage actuel
    let currentReviewIndex = 0;

	// Tableau pour stocker les données des témoignages
    let testimonialsData = [];

	// Fonction pour récupérer les témoignages depuis Outscraper
    const fetchTestimonials = () => {
        fetch(fullEndpointUrl, {
            headers: {
                "X-API-KEY": apiKey
            }
        })
        .then(response => response.json())
        .then(data => {
            testimonialsData = data.data[0].reviews_data;
            displayNextTestimonial();
        })
        .catch(error => {
            console.error('Une erreur s\'est produite :', error);
        });
    };

	// Fonction pour afficher le prochain témoignage
    const displayNextTestimonial = () => {
        const testimonialsBlock = document.getElementById('testimonial');
        const currentReview = testimonialsData[currentReviewIndex];
        if (currentReview) {
			  // Convertir la chaîne de date en objet Date
			const dateObj = new Date(currentReview.review_datetime_utc);
			
			// Obtenir la date au format "AAAA-MM-JJ"
			const formattedDate = dateObj.toISOString().split('T')[0];
			   // Recherche de la position de "(Translated by Google)".Ce code utilise indexOf() pour trouver les positions de début 
    const startIndex = currentReview.review_text.indexOf("(Original)");

    
    // Dans ce code, nous ajoutons "(Original)".length à la position de début (startIndex) pour nous assurer que nous extrayons le texte après "(Original)" sans inclure "(Original)" lui-même. Le résultat sera uniquement le texte qui suit "(Original)".
    const translatedText = currentReview.review_text.substring(startIndex + "(Original)".length);

   
	// Limite la longueur du texte à 3 lignes
	const maxLines = 3;
	const lines = translatedText.split('\n'); // Divise le texte en lignes
	if (lines.length > maxLines) {
		translatedText = lines.slice(0, maxLines).join('\n'); // Prend les 3 premières lignes
		translatedText += '...'; // Ajoute "..." à la fin
	}
            testimonialsBlock.innerHTML = `
				<img src="${currentReview.author_image}" alt="auteur image">
				<div class="col-9 offset-3 text-center pt-2"> 
					<div class="star-rating">${'<i class="fas fa-star"></i>'.repeat(currentReview.review_rating)}</div>
					<p class="truncate-text">${translatedText.trim()}</p>
					<span>${currentReview.author_title}</span>
					<span>${formattedDate}</span>  
				</div>
            `;
            currentReviewIndex = (currentReviewIndex + 1) % testimonialsData.length;
        }
    };
	// Appeler la fonction pour récupérer les témoignages au chargement
    fetchTestimonials();

	// Mettre à jour les témoignages à intervalles réguliers (toutes les 5 secondes dans cet exemple)
    setInterval(displayNextTestimonial, 5000); // Change to the desired interval in milliseconds
</script>



{% endblock %}
