{% extends 'base.html.twig' %}
{% block body %}
<main class="container my-5">
    <h3>Entreprise individuelle:</h3>
        <p>Jerome Moreno</p>
    <h3>adresse:</h3> 
        <p>10,rue de la Chanterie</p>
        <p>86340 Nieuil l'Espoir</p>
        <p>tel:07 82 28 62 78</p>
    <h3>Mail de contact</h3>
        <a href="mailto:contact@taxiprestige.fr">contact@taxiprestige.fr</a>
    <h3>Droits d'auteur</h3>
        <p>Images issue de Pixabay et Freepik</p>
    <h3>Herbergeur : </h3>
        <p>Hostinger</p>
    <h3>Conception : </h3>
        <p>Claire Metais </p>
    <h3>Rédaction des contenus</h3>
        <p>Jerome Moreno</p>
</main>
{% endblock %}