{% extends 'base.html.twig' %}
{% block title %}TaxiPrestige- Services{% endblock %}
{% block body %}
	<main id="offer">
		<div class="container">
			<section id="main_offer">
				<div class="text-center pb-5">
					<h2>Nos principaux services</h2>
					<p>Découvrez nos principaux services de taxi conçus pour répondre à tous vos besoins de déplacement en toute commodité. Nous offrons un éventail de prestations, allant des transferts aéroport et gare aux déplacements professionnels et visites touristiques. De plus, nous sommes fiers de vous proposer un service personnalisé sur simple demande, afin de vous garantir une expérience de voyage sur mesure et adaptée à vos préférences. Votre satisfaction est notre priorité.</p>
				</div>
				<div class="row text-center">
					<div class="col-sm-6 col-md-3 card">
						<div class="circle-icon">
							<img src="{{asset('images/sante.svg')}}" class="card-img-top " alt="medical">
						</div>
						<div class="card-body">
							<h5 class="card-title">Taxi conventionné</h5>
							<p class="card-text">Tiers payant, aucun frais à avancer.</p>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 card">
						<div class="circle-icon">
							<img src="{{asset('images/transfert.svg')}}" class="card-img-top" alt="transfert">
						</div>
						<div class="card-body">
							<h5 class="card-title">Transfert gare/aéroport</h5>
							<p class="card-text">Nous facilitons vos déplacements à destination ou au départ de la gare et deaéroport de Poitiers.</p>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 card">
						<div class="circle-icon">
							<img src="{{asset('images/booking.svg')}}" class="card-img-top" alt="réservation">
						</div>
						<div class="card-body">
							<h5 class="card-title">Réservation et devis en ligne</h5>
							<p class="card-text">Réservez votre taxi via notre site web pour vos trajets (minimum 30 km)</p>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 card">
						<div class="circle-icon">
							<img src="{{asset('images/road.svg')}}" class="card-img-top" alt="trajet">
						</div>
						<div class="card-body">
							<h5 class="card-title">Toutes distances</h5>
							<p class="card-text">Pour répondre à tous vos besoins spécifiques professionnels comme personnels</p>
						</div>
					</div>
				</div>
			</section>
			<section id="service" class="mb-5">
				<h2 class="text-center pb-3">Ensemble de nos services</h2>
				<div class="row align-items-center m-1 m-sm-0 mb-sm-4">
					<div class="col-12 col-md-3">
						<img src="{{asset('images/affaire.jpg')}}" class="mt-2 mt-md-0" alt="entreprises">
					</div>
					<div class="col-12 col-md-9">
						<h5>Services aux entreprises</h5>
						<p>Pour des réunions, séminaires, concerts, congres, conférences ou tout autre déplacement professionnel, TAXI PRESTIGE est à votre disposition pour organiser vos déplacements d’entreprises. Pour vos trajets aller / retour gare et aéroport de Poitiers, réservez un accueil personnalisé à vos collaborateurs, clients ou fournisseurs en toute discrétion et sécurité. N'hésitez pas à nous contacter, on s’attache à vous apporter la réponse adaptée à vos demandes de taxi personnalisé sur mesure.</p>
						<p></p>
					</div>
				</div>
				<div class="row align-items-center m-1 m-sm-0 mb-sm-4">
					<div class="col-12 col-md-3 ">
						<img src="{{asset('images/futuroscope.jpg')}}" class="mt-2 mt-md-0" alt="futuroscope">
					</div>
					<div class="col-12 col-md-9 ">
						<h5>Services aux particuliers</h5>
						<p>TAXI PRESTIGE vous propose des déplacements conviviaux et confortables et des services de qualité avec un chauffeur qui aidera à charger vos bagages et restera à l’écoute de vos besoins. Réservez votre taxi pour vous rendre à la gare, aéroport, hôtel, ou à un tout autre endroit.
                        A l’aide de notre formulaire de réservation, par téléphone ou par mail, la réservation d’un taxi ne prend que quelques minutes .</p>
					</div>
				</div>
			</section>
		</main>
	{% endblock %}
