{% extends 'base.html.twig' %}
{% block title %}TaxiPrestige - Tarifs{% endblock %}
{% block body %}
	<main id="price">
		<div class="container mb-5">
			<h2 class="text-center">Tarifs reglementés 2023</h2>
			<div class="row pt-3 pb-3">
				<div class="col-md-6 d-flex justify-content-center">
					<ul>
						<li>
							<h5>Prise en charge :</h5>
							<p>2,60 €</p>
						</li>
						<li>
							<h5>Tarif minimum (suppléments inclus):</h5>
							<p>7,30 €</p>
						</li>
						<li>
							<h5>Valeur de la chute :</h5>
							<p>0,10 €</p>
						</li>
					</ul>
				</div>
				<div class="col-md-6 d-flex justify-content-center">
					<ul>
						<li>
							<h5>Heure d'attente :</h5>
							<ul>
								<li>de jour : 25,30 €</li>
								<li>de nuit : 33,40 €</li>
							</ul>
						</li>

					</ul>
				</div>
			</div>
			<h3 class="py-3">Tarifs kilométriques</h3>
			<table class="table table-striped table-bordered d-none d-sm-block">
				<thead>
					<tr>
						<th scope="col"></th>
						<th scope="col">A</th>
						<th scope="col">B</th>
						<th scope="col">C</th>
						<th scope="col">D</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td scope="row">Moment</td>
						<td>Jour*</td>
						<td>Nuit**</td>
						<td>Jour</td>
						<td>Nuit</td>
					</tr>
					<tr>
						<td scope="row">Tarif</td>
						<td>1.04 €/km</td>
						<td>1.50 €/km</td>
						<td>2.08 €/km</td>
						<td>3.00 €/km</td>
					</tr>
					<tr>
						<td scope="row">Application</td>
						<td>Aller et retour en charge</td>
						<td>Aller et retour en charge</td>
						<td>Aller et retour à vide</td>
						<td>Aller et retour à vide</td>
					</tr>
					<tr>
						<td scope="row">Distance de chute</td>
						<td>96,15 mètre</td>
						<td>66,67 mètre</td>
						<td>48,08 mètre</td>
						<td>33,33 mètre</td>
					</tr>
				</tbody>
			</table>

			<table class="table table-striped table-bordered d-sm-none">
				<thead>
					<tr>
						<th scope="col"></th>
						<th scope="col">A</th>
						<th scope="col">B</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td scope="row">Moment</td>
						<td>Jour*</td>
						<td>Nuit**</td>
					</tr>
					<tr>
						<td scope="row">Tarif</td>
						<td>1.04 €/km</td>
						<td>1.50 €/km</td>
					</tr>
					<tr>
						<td scope="row">Application</td>
						<td>Aller et retour en charge</td>
						<td>Aller et retour en charge</td>
					</tr>
					<tr>
						<td scope="row">Distance de chute</td>
						<td>96,15 mètre</td>
						<td>66,67 mètre</td>
					</tr>
				</tbody>
				<table class="table table-striped table-bordered d-sm-none">
				<thead>
					<tr>
						<th scope="col"></th>
						<th scope="col">C</th>
						<th scope="col">D</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td scope="row">Moment</td>
						<td>Jour</td>
						<td>Nuit</td>
					</tr>
					<tr>
						<td scope="row">Tarif</td>
						<td>2.08 €/km</td>
						<td>3.00 €/km</td>
					</tr>
					<tr>
						<td scope="row">Application</td>
						<td>Aller et retour à vide</td>
						<td>Aller et retour à vide</td>
					</tr>
					<tr>
						<td scope="row">Distance de chute</td>
						<td>48,08 mètre</td>
						<td>33,33 mètre</td>
					</tr>
				</tbody>
			</table>
			</table>
			<p>* Tarif de jour : du lundi au samedi de 7h00 à 19h00<br>** Tarif de nuit:19h00 à 7h00 du matin, dimanche, jour férié, verglas et neige
			</p>
			<h3 class="py-3">Tarification des suppléments</h3>

			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Supplements</th>
						<th>Tarif</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Passagers
							<ul>
								<li>A partir du 5ième passager</li>
							</ul>
						</td>
						<td>3,00 €</td>
					</tr>
					<tr>
						<td>Bagages
							<ul>
								<li>En cas de nécéssité d'un équipent exterieur</li>
								<li>Au-delà de 3 valises par passager</li>
							</ul>
						</td>
						<td>2,00 €</td>
					</tr>
				</tbody>
			</table>
			<h5>Tarifs péages:</h5>
			<p>Les frais de péage sont à la charge du client.</p>
			<h3 class="py-3">Informations supplémentaires</h3>
			<p>Les tarifs sont reglementés par la préfécture de la Vienne.Selon l'arrete prefectoral du 27 janvier 2023, la tarification est indépendante du nombre de places que comporte la voiture et que ces places soient toutes occupées ou non.
            Le taxi doit être muni d'un compteur horokilométrique. Il doit delivrer une note détaillée pour la perception d'une somme suprérieure à 25,00 € T.V.A comprise, et à la demande du client,pour celle d'un montant supérieur.</p>
		</div>
	</main>
{% endblock %}
