{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe
{% endblock %}

{% block body %}
	<div class="container my-5">
		<div class="row justify-content-center">
			{% for flash_error in app.flashes('reset_password_error') %}
				<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
			{% endfor %}
			<h1>Demande de reinitialisation de mot de passe</h1>

			{{ form_start(requestForm) }}
			{{ form_row(requestForm.username) }}
			<div>
				<small>
					Saisissez votre adresse électronique et nous vous enverrons un lien pour réinitialiser votre mot de passe.
				</small>
			</div>

			<button class="btn btn-primary mt-3">Envoyer</button>
			{{ form_end(requestForm) }}
		</div>
	</div>
{% endblock %}
