{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
<div class="container my-5">
    <div class="row justify-content-center">
        <h1>Réinitialiser votre mot de passe</h1>

        {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <button class="btn btn-primary mt-3">Réinitialiser le mot de passe</button>
        {{ form_end(resetForm) }}
    </div>
</div>
{% endblock %}
