<section id="about">
	<div class="container">
		<h2 class="text-center">Présentation de votre chauffeur</h2>
		<div class="about_container">
			<img src="{{asset('images/jerome.jpg')}}" class="image1 container-fluid" alt="Portrait de Jerome Moreno">
			<p class="paragraphe1">Découvrez notre chauffeur de taxi expérimenté, dont la passion pour le métier s'est développée au fil de plus de 10 années passées à conduire à travers les rues animées de la région parisienne. Fort de cette expertise, il a choisi de poser ses bagages à Poitiers il y a 2 ans, où il s'est immédiatement rapproché des professionnels du taxi en rejoignant le groupement inter-entreprise de taxi de Poitiers "Radio Taxi". Depuis lors, il offre ses services dans la région.</p>
			<p class="paragraphe2">En tant qu'ancien membre de la société G7 Affaires, il a acquis les compétences nécessaires pour assurer un service élégant, courtois et empreint de discrétion, répondant ainsi aux attentes les plus élevées de la clientèle. Aujourd'hui, en tant que membre actif de "Radio Taxi", notre chauffeur a su renforçer son engagement à assurer un service de qualité supérieure.</p>
			<img src="{{asset('images/courtoisie.jpg')}}" class="image2" alt="Chauffeur ouvrant la porte de voiture">
			<p class="paragraphe3">Notre chauffeur de taxi est bien plus qu'un simple conducteur. Il est un véritable professionnel, ayant perfectionné une conduite souple et sécurisée au cours de sa carrière. Ses années d'expérience ont forgé un pilote chevronné, capable de naviguer avec aisance dans les rues de Poitiers tout en garantissant un trajet confortable et agréable pour ses passagers.</p>
		</div>
	</div>
</section>
<script>
    // Fonction pour vérifier si un élément est dans la vue
    function isElementInViewport(element) {
        const rect = element.getBoundingClientRect();
        return (
            rect.top >= 0 &&
            rect.bottom <= window.innerHeight
        );
    }

    let sectionAbout = document.getElementById('about');
    let image1 = sectionAbout.querySelector('.image1');
    let image2 = sectionAbout.querySelector('.image2');

    function revealImagesOnScroll() {
        if (isElementInViewport(sectionAbout)) {
            image1.classList.add('reveal-visible1');
            image2.classList.add('reveal-visible2');
        } 
    }

    window.addEventListener('scroll', revealImagesOnScroll);
</script>


