<section id="banniere">
	<div class="container-fluid">
		<h3>Quelle est votre destination?</h3>
		<div class="roller">
			<div id="rolltext" class="text-center">
				<div>Futuroscope</div>
				<div>Poitiers</div>
				<div>La Rochelle</div>
				<div>Bordeaux</div>
				<div>Angoulème</div>
				<div>Limoges</div>
				<div>Châtellerault</div>
				<div>Center Parcs</div>
				<div>Chauvigny</div>
				<div>La Roche-Posay</div>
			</div>
		</div>
	</div>
</section>
