<section id="benefit" class="py-5">
	<div class="container">
		<div class="row d-flex justify-content-around text-center">
			<div class="my-3 col-6 m-sm-0 col-md-4">
				<div class="card h-100 rounded-3">
					<img src="{{asset('images/time.png')}}" alt="montre" class="w-25 w-sm-50 mx-auto pt-3">
					<div class="card-body pb-3">
						<h3 class="card-title pb-3">Flexibilité</h3>
						<p class="card-text">Disponible 7j/7</p>
						<p class="card-text">24h/24</p>
					</div>
				</div>
			</div>
			<div class="my-3 col-6 m-sm-0 col-md-4 ">
				<div class="card h-100 rounded-3">
					<img src="{{asset('images/diamant.png')}}" alt="diamant" class="w-25 w-sm-50 mx-auto pt-3">
					<div class="card-body pb-3">
						<h3 class="card-title pb-3">Premium</h3>
						<p class="card-text">Chauffeur courtois, aimable et serviable</p>
						<p class="card-text">Intérieur propre et confortable, avec des sièges spacieux et climatisés</p>
					</div>
				</div>
			</div>
			<div class="col-6 my-3 mt-sm-4 col-md-4 m-md-0">
				<div class="card h-100 rounded-3">
					<img src="{{asset('images/euro.png')}}" alt="euro" class="w-25 w-sm-50 mx-auto pt-3">
					<div class="card-body pb-3">
						<h3 class="card-title pb-3">Facilité de paiement</h3>
						<p class="card-text">Paiement en espèces ou par carte de crédit</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>