<section
	id="contactForm">
	{# <div class="justify-content-center">  #}
	<h3 class="text-center py-3">Formulaire de contact</h3>
	<div>
		{{ form_start(contactForm)}}
		<p class="text-center pb-2">Pour toutes demandes d'informations, questions ou demande spécifiques, n'hésitez pas à nous écrire via ce formulaire</p>
		<div class="row">
			<div class="col-sm-6">
				{{ form_row(contactForm.firstName)}}
			</div>
			<div class="col-sm-6">
				{{ form_row(contactForm.lastName)}}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				{{ form_row(contactForm.email)}}
			</div>
			<div class="col-sm-6">
				{{ form_row(contactForm.phone)}}
			</div>
		</div>
		<div>
			{{ form_row(contactForm.sujet)}}
		</div>
		<div>
			{{ form_row(contactForm.message)}}
		</div>
		<div>
			{{ form_row(contactForm.acceptTerms)}}
		</div>
		<div>
			{{ form_row(contactForm.submit)}}
		</div>
		{{ form_end(contactForm)}}
	</div>

</section>
