<footer>
    <div class="container">
        <div class="row py-3 py-md-5">
            <div class="col-md-4 text-center">
                <img src="{{asset('images/logo2grand.png')}}" class="img-brand" alt="Voiture">
            </div>
            <menu class=" mb-2 mb-sm-0 col-sm-4 col-md-4 ps-5">
                <ul>
                    <li><a aria-current="page" href="{{ path('home')}}" title="Accueil">Accueil</a></li>
					<li><a href="{{ path('home')}}#about" title="A propos">A propos</a></li>
					<li ><a href="{{ path('offers')}}" title="Services">Services</a></li>
					<li ><a href="{{ path('price')}}" title="Tarifs">Tarifs</a></li>
					<li ><a href="{{ path('booking')}}" title="Reservation">Réserver</a></li>
					<li ><a href="{{ path('contact')}}" title="contact">Contact</a></li>
                    <li ><a href="{{ path('mention')}}" title="mention">Mentions légales</a></li>
                </ul>
            </menu>
            <div class="text-center col-sm-8 col-md-4">
                <h3><i class="fa-solid fa-mobile"></i>07 82 28 62 78</h3>
                <h3><i class="fa-solid fa-envelope email"></i>taxiprestige86@gmail.com</h3>
            </div>
        </div>
    </div>
</footer>
