<header id="header" class="sticky-top">
	<div class="row justify-content-center align-items-center pt-2 mx-0">
		<div class="text-center col-sm-5 text-md-start col-xl-3 phone-number">
			<h3><i class="fa-solid fa-mobile"></i>07 82 28 62 78</h3>
		</div>
		<div class=" text-center col-sm-5 text-md-end col-xl-3 mail">
			<h3><i class="fa-solid fa-envelope"></i>taxiprestige86@gmail.com</h3>
		</div>
		<div class="text-center col-xl-4">
			<img src="{{asset('images/logo2grand.png')}}" class="img-brand" alt="Voiture">
		</div>
	</div>
	
	<nav class="navbar navbar-expand-lg">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mx-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{{ path('home')}}" title="Accueil">Accueil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('home')}}#about" title="A propos">à propos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('offers')}}" title="Services">Services</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('price')}}" title="Tarifs">Tarifs</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('booking')}}" title="Reservation">Réserver</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('contact')}}" title="Contact">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>

<script>
    let header = document.querySelector('header'); // Sélectionnez la balise <header> une fois

    window.addEventListener('scroll', () => {
        let scrollPosition = window.scrollY;/*on obtient la position de defilement vertical*/

        if (scrollPosition > 0) {
            header.classList.add('scrolled');/*on ajoute la class 'scrolled' au <header>, le style de scrolled est defini dans le sass correspondant*/
        } else {
            header.classList.remove('scrolled');
        }
    });
</script>







