// Color system
$yellow:#edd42f;
$bg-yellow:#ffc107;
$blue:#333333;
$bluelight:#21334121;
$grey:#838383;
$bg-grey:#2d394b;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
// font-family: 'Open Sans', sans-serif;
$body-font: 'Open Sans', sans-serif;
$heading-font: 'Open Sans', sans-serif;


$carousel-transition-duration: 5s;
$carousel-transition: transform $carousel-transition-duration ease-in-out;


$duration: 3s ;




// Bootstrap général


// Responsive basique

// @include media-breakpoint-up(sm){
    
// }
// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px
// );


// @include media-breakpoint-up(sm) { }
// @include media-breakpoint-up(md) { ... }
// @include media-breakpoint-up(lg) { ... }
// @include media-breakpoint-up(xl) { ... }
// @include media-breakpoint-up(xxl) { ... }
