nav {
    ul {
      display: flex;
      border: 1px solid transparent; // Bord par défaut (aucun bord)
       
      li {
        text-transform: uppercase;
        font-weight: bolder;
        padding-left: 25px;
        padding-right: 25px;
  
        /* Ajouter un effet de bordure sans changer la taille de l'élément */
        &:hover {
          box-shadow: 0 0 0 1px black; // Box-shadow avec un rayon de 1px pour simuler la bordure
        }
      }
    }
  }