#about {
    padding: 30px 0 30px 0;
    position: relative;
    background-attachment: fixed; /* Fixe l'image pendant le scroll */
    background-size: cover; /* L'image prendra 100% de l'espace, quitte à la crop */
    background-position: center; /* Centre la position de l'image */
    background-repeat: no-repeat; /* Empêche l'image de se répéter en fonction de la taille d'écran */
    background-image: url('../../images/bgnoir.jpg');


    h2, p {
        color:rgba(255, 255, 255, 0.905);
       
    }
   

    h2::after{
        position:absolute;
        top:100px;
        @include media-breakpoint-up(sm) {
            top:75px;
        }
    }
    
    p{
        font-size:14px;
        @include media-breakpoint-up(lg) {
            font-size:16px;
        }
    }

    .about_container {
        display: grid;
        @include media-breakpoint-up(md) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto auto;
        column-gap: 25px;
        }
    }

    @keyframes slideInLeft {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0);
        }
    }
    
    @keyframes slideInRight {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(0);
        }
    }

    .image1, .image2 {

        width: 100%;
        height:200px;
        padding-top: 10px;
        object-fit:cover;
        opacity:0;
        animation-duration: 1s; /* Durée de l'animation */
        animation-fill-mode: forwards;
        @include media-breakpoint-up(md) {
            width: 100%;
            height:auto;
        }
       
    }

    .image1 {
        @include media-breakpoint-up(md) {
        grid-column: 1 / 2;
        grid-row: 1 / span 2; 
        }  
    }

    .image2 {
        @include media-breakpoint-up(md) {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        }
    }
      
    .paragraphe1 {
        @include media-breakpoint-up(md) {
        grid-column: 2 / 4;
        grid-row: 1 / 2;
        }
    }

    .paragraphe2 {
        @include media-breakpoint-up(md) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        }
    }

    .paragraphe3 {
        @include media-breakpoint-up(md) {
        grid-column: 1 / 4;
        grid-row: 3 / 4;
        }
    }

   
    .reveal-visible1{
        opacity:1;
        animation-name: slideInLeft;
    }
    .reveal-visible2{
        opacity:1;
        animation-name: slideInRight;
    }
}
