#banniere{
    position:relative;
    background: url("../../images/nuit2.jpg");
    background-repeat: no-repeat;
    background-size:cover; /* Ajuster la taille de l'image de fond */
    background-position: top; /* Centrer l'image de fond */
    width: 100%;
    height:15vh;
    @include media-breakpoint-up(sm) { 
      height: 20vh;
      }
      @include media-breakpoint-up(lg) { 
        height: 35vh;
        }
    @include media-breakpoint-up(xl) { 
    height: 45vh;
    }
    @include media-breakpoint-up(xxl) { 
      height: 80vh;
      }

h3{
    text-align:center;
    text-transform: uppercase; 
    color:white;
    font-weight:700; 
    padding-top:5vh;
    @include media-breakpoint-up(lg) { 
      font-size:2.5rem;
      }
    @include media-breakpoint-up(xl) { 
      font-size:3.5rem;
      padding-top:20vh;
      }
  }

  .roller {
    position: absolute;
    // top: 45%; /* Place le texte à 50% de la hauteur du conteneur parent */
    left: 50%; /* Place le texte à 50% de la largeur du conteneur parent */
    transform: translate(-50%, -50%); /* Centre le texte précisément */
    height: 3rem;
    line-height: 2.6rem;
    overflow: hidden; 
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction:column;
    color: white;
    margin-top:3vh;
    @include media-breakpoint-up(sm) {
      margin-top:4vh;
    }
    @include media-breakpoint-up(md) {
      height: 3.5rem;
      line-height: 3.2rem;
    }
    @include media-breakpoint-up(lg) { 
      top:40%;
      height: 4.5rem;
      line-height: 4rem;
    }
    @include media-breakpoint-up(xl) { 
     top:50%;
      height: 6rem;
      line-height: 5.5rem;
      } 
}

.roller #rolltext {
    position:relative;
    animation: slide 14s infinite; 
    font-size:2rem;
    @include media-breakpoint-up(md) { 
      font-size:2.5rem;
      }
    @include media-breakpoint-up(lg) { 
      font-size:3rem;
      }
    @include media-breakpoint-up(xl) { 
      font-size:4rem;
      } 
    
  }
  
  @keyframes slide {
    0% {
      top: 0;
    }
    9% {
      top: -2.6rem;
    }
    18% {
      top: -5.2rem;
    }
    27% {
      top: -7.8rem;
    }
    36% {
      top: -10.4rem;
    }
    45% {
      top: -13rem;
    }
    54% {
      top: -15.6rem;
    }
    63% {
      top: -18.2rem;
    }
    72% {
      top: -20.8rem;
    }
    81% {
      top: -23.4rem;
    }
    90% {
      top: -26rem;
    }
  }
  
  @media (min-width: 768px) {
    @keyframes slide {
      9% {
        top: -3.2rem;
      }
      18% {
        top: -6.4rem;
      }
      27% {
        top: -9.6rem;
      }
      36% {
        top: -12.8rem;
      }
      45% {
        top: -16rem;
      }
      54% {
        top: -19.2rem;
      }
      63% {
        top: -22.4rem;
      }
      72% {
        top: -25.6rem;
      }
      81% {
        top: -28.8rem;
      }
      90% {
        top: -32.2rem;
      }
    }
  }
  
  @media (min-width: 992px) {
    @keyframes slide {
      9% {
        top: -4rem;
      }
      18% {
        top: -8rem;
      }
      27% {
        top: -12rem;
      }
      36% {
        top: -16rem;
      }
      45% {
        top: -20rem;
      }
      54% {
        top: -24rem;
      }
      63% {
        top: -28rem;
      }
      72% {
        top: -32rem;
      }
      81% {
        top: -36rem;
      }
      90% {
        top: -40rem;
      }
    }
  }
  
  @media (min-width: 1200px) {
    @keyframes slide {
      9% {
        top: -5.5rem;
      }
      18% {
        top: -11rem;
      }
      27% {
        top: -16.5rem;
      }
      36% {
        top: -22rem;
      }
      45% {
        top: -27.5rem;
      }
      54% {
        top: -33rem;
      }
      63% {
        top: -38.5rem;
      }
      72% {
        top: -44rem;
      }
      81% {
        top: -49.5rem;
      }
      90% {
        top: -55rem;
      }
    }
  }
  
  
}


