#benefit{
  .card{
    background-image: url("../../images/bgnoir.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    img{
      filter: invert(100%);
    }
    .card-text, .card-title{
      color:rgba(255, 255, 255, 0.905);
    }
    h3{
      font-size:18px;
      @include media-breakpoint-up(sm) {
        font-size:24px;
      }
    }
    p{
      font-size:14px;
      @include media-breakpoint-up(sm) {
        font-size:16px;
      }
    }
  }
    .card:hover img{
        
        animation: rotate infinite $duration alternate ;
      
    }
    //   rotate: C'est le nom de l'animation définie dans @keyframes.
    //   infinite: Cela indique que l'animation doit se répéter indéfiniment.
    //   $duration: C'est une variable qui devrait contenir la durée de l'animation.
    //   alternate: Cela indique que l'animation doit alterner entre le point de départ et le point final à chaque itération.
    @keyframes rotate{
    100%{transform: rotate3d(1, 1, 1, 360deg);}
    }
}