#booking {
    h2 {
        color: $yellow;
    }

    textarea::placeholder,
    input::placeholder {
        color: grey;
    }

    background-image: url("../../images/route.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

    p {
        border-radius: 4px;
        background: rgba(255, 255, 255, 0.874);
        color: $blue;

        strong {
            font-size: 18px;
        }
    }

    .alert-sucess {
        background: white;
    }
}

#bookingForm {
    border-radius: 4px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.663);

    textarea::placeholder,
    input::placeholder {
        color: grey;
        font-size: 14px;
    }

    label {
        text-transform: uppercase;
        color: $blue;
        font-weight: 700;
    }

    .btn {
        background: $yellow;
        border-style: none;
        color: $blue;
        width: 50%;
    }
   
    p{
        background:transparent;
    } 
    #suggestions-depart, #suggestions-arrival{
        background: white;
        border-radius: 5px;
    }
    p:hover{
        cursor:pointer;
        }
}