#car{

margin-top: 45px;  
margin-bottom: 55px;

    .figure-img{
        border-radius: 50%;
        object-fit: cover;
       
    }
    .figure-img:hover{
        transform: scale(1.05);
        transition: .3s ease-in-out;
    }
.figure-caption{ 
    font-style: italic;
    font-weight: 600;
    text-transform: uppercase;
    @include media-breakpoint-up(sm) { 
    font-size:20px;
    }
}
}