#contact{
    img{
        margin:0 auto;   
    }
    .card-img-top{
        width:15%;
        padding-bottom:5px;
    }
    .card{
        width:13rem;
        margin:10px 0 10px 0;
        padding:15px 0px 15px 0px;
        border-radius: 0;
        p{
            color:$blue;
        }
    }
    .card-body{
        padding:0;
    }
}

#contactForm{
    textarea::placeholder,input::placeholder{
        color:grey;
        font-size:14px;
    }
    border:solid 1px black;
    border-radius:4px;
    padding:15px;
    background-image: url("../../images/bgnoir.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    label, h3, p{
        color:white;
    }
    .btn{
        background:$yellow;
        color:black;
    }
}