#offer {
    .card{
        border:none;
        h5{
            text-transform: uppercase;
            font-weight: 600;
        }
    }
    .card-img-top {
        width: 50%;
        height: auto;
    }
    
    .circle-icon {
        position: relative;
        width: 50%;
        margin: 0 auto;
        border-radius: 50%;
        background: $yellow; /* Remplacez "$yellow" par la couleur souhaitée */
        height: 100px;
        width:100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card:hover .circle-icon{
        
        animation: rotate infinite $duration alternate ;
      
    }
    #service{
        .row{
            background:$bluelight;
            border-radius:4px;
            padding:10px 0 10px 0;
        }
        h5{
            font-style:italic;
            font-weight: 600;
        }
        p{
            color:$blue;
        }
        img{
            width: 100%;
            height:200px;
            padding-top: 10px;
            object-fit:cover;
            @include media-breakpoint-up(md) {
                height:auto;
            }
        }
    }
    h2::after{
        position:absolute;
        top:100px;
        @include media-breakpoint-up(sm) {
            top:75px;
        }
    }
    
}