#opinion{
    h3{
        font-weight:700;
        padding-bottom: 25px;
        font-style:italic;
        text-transform: none;
    }
    
    blockquote{
        position: relative;
        background:$bluelight;
        border-radius:4px;
        height:170px;
        margin-top:50px;
        @include media-breakpoint-up(sm) {
        padding: 0 75px 0 75px;
        height:150px;
        }
        p,span{
            color:$blue;
            font-size:14px;
            @include media-breakpoint-up(sm) {
                font-size:18px;
            }
        }
        span{
            font-style: italic;
            text-transform: capitalize;
        }
        .star-rating{
            color:$yellow;
            margin-bottom:20px;
            i{
                padding-left:10px;
                font-size:20px;
            }
        }
        img{
            position:absolute;
            width:95px;
               height:95px;
            top:-25%;
            left:5%;
            @include media-breakpoint-up(sm) {
               width:120px;
               height:120px;
                top:-25%;
                left:5%;
            }
            @include media-breakpoint-up(md) {
                top:-25%;
                left:10%;
            }
        }
    }
    blockquote::before{
        position: absolute;
        content:" ";
        background: url('../../images/quote-left-solid.svg') 0 0 no-repeat;
        width:30px;
        height:20px;
        left: 30%;
        top: 20%;
        @include media-breakpoint-up(sm) {
        width:67px;
        height:45px;
        left: 30%;
        top: 10%;
        }
        @include media-breakpoint-up(md) {
        left: 30%;
        top: 10%;
        }
    }
    
}