#price{
    li h5, li p{
        display:inline-block;
    }
    th{
        color:white;
        background-color: $blue;
    }
    td{
        font-size:14px;
        @include media-breakpoint-up(sm) {
            font-size:16px;
        }
    }
}