<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        
    </head>
    <body>
  
    <div>Demande de réservation de {{ lastName}} {{ firstName}}</div>
    <div>Email : {{ mail }}</div>
    <div>Téléphone : {{ phone }}</div>
    <div>Pour le : {{ day|date("d/m/Y H:i") }}</div>
    <p>Adresse de départ : {{ departure }}</p>
    <p>Adresse d'arrivée : {{ arrival }}</p>
    <p>Nombre de passagers : {{ numberUser }}</p>
    <p>Nombre de bagages : {{ suitcase }}</p>

    {% if message %}
        <p>Message : {{ message }}<p>
    {% endif %}
    

    </body>
</html>