<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <div>Contact de {{ firstName}} {{ lastName }}</div>
        <div>sujet : {{ subject }}</div>
        <p>Message : {{ message }}</p>
        <p> addresse email : {{ mail }}<p>
    </body>
</html>
