footer{
    background: $bg-grey;
    
    .img-brand{
        display:flex;
        max-width: 100%;
        height:auto;
        margin:0 auto;
        filter:invert(1);
    }
    menu,ul{
        margin:0;
        li{
            list-style: none;
        }
        a{
            color:white;
            text-decoration: none;
        }
    }
    h3{
        color:white;
        text-transform: lowercase;
        i{
            padding-right:8px;
            @include media-breakpoint-up(sm) {
               padding-right:20px;
            }
            
        }
        .email{
            font-size:16px;
        }
    }
}