html,body{
    margin:0 auto;
    flex-wrap: wrap;
    background:#ffffff;
}
.container{
    max-width:960px;
}
h2{
    position:relative;
    color:$blue;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 45px;
    padding-top: 35px;
    @include media-breakpoint-up(sm) {
        font-size:30px;
    }
}

h2::after{
    background:#d9d9d9;
    content:"";
    display:inline-block;
    height:3px;
    width:40px;
    left:47.7%;
    position:absolute;
    top:75px;

}


h3{
    text-transform: uppercase;
    font-size:24px;
    color:$blue;
}

p{
    color:#838383;
}


