header {
    background: $yellow;
    flex-wrap: wrap;

    &.scrolled {
        border-bottom: 2px solid $blue;
    }

    .img-brand {
        display: flex;
        max-width: 30%;
        height: auto;
        margin: 0 auto;

        @include media-breakpoint-up(sm) {
            max-width: 30%;
        }

        @include media-breakpoint-up(lg) {
            max-width: 20%;
        }

        @include media-breakpoint-up(xl) {
            max-width: 30%;
            order: 2;
        }
    }

    h1 {
        text-transform: uppercase;
    }

    .phone-number {
        font-style: italic;

        h3 {
            @include media-breakpoint-up(sm) {
                font-size: 20px;
                font-weight: 600;
            }

            @include media-breakpoint-up(md) {
                font-size: 25px;
            }

            @include media-breakpoint-up(lg) {
                font-size: 30px;
            }

            /* Clip Background Image */

            /* Applique une image de fond répétée à la verticale */
            background: url('../../images/bganimated.jpg') repeat-y;
            /* Indique que le fond de texte doit être découpé selon les contours du texte */
            background-clip: text;

            /* Animate Background Image */

            /* Définit la couleur du texte transparente pour révéler l'image de fond */
            -webkit-text-fill-color: transparent;
            /* Applique une animation nommée 'aitf' pendant 30 secondes en boucle */
            animation: aitf 20s linear infinite;

            /* Activate hardware acceleration for smoother animations */

            /* Applique une transformation 3D pour activer l'accélération matérielle */
            transform: translate3d(0, 0, 0);
            /* Cache les arrière-plans des éléments cachés pour une meilleure performance */
            backface-visibility: hidden;
        }


        /* Animate Background Image */

        @keyframes aitf {
            0% {
                background-position: 0% 50%;
            }

            100% {
                background-position: 100% 50%;
            }
        }
    }

    i {
        margin-right: 10px;
    }

    .mail {
        @include media-breakpoint-up(xl) {
            order: 3;
        }

        h3 {
            font-style: italic;
            font-weight: 700;
            text-transform: lowercase;
            font-size: 22px;
            @include media-breakpoint-up(sm) {
                font-size: 18px;
            }

            @include media-breakpoint-up(md) {
                font-size: 22px;
            }

            @include media-breakpoint-up(xxl) {
                font-size: 25px;
            }
        }
    }
}