{# templates/bundles/TwigBundle/Exception/error401.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<main>
<div class="container">
    <h1>Erreur 401</h1>

    <p>
        Les informations d’authentification envoyées ne sont pas valables <a href="{{ path('home') }}" type="button">Retour à l'accueil</a>.
    </p>
</div>
</main>
{% endblock %}