{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<main>
<div class="container">
    <h1>Page non trouvée</h1>

    <p>
        La page demandée n'a pas pu être localisée. Vérifier s'il y a des erreurs d'orthographe ou  <a href="{{ path('home') }}">Retour à l'accueil</a>.
    </p>
</div>
</main>
{% endblock %}