{# templates/bundles/TwigBundle/Exception/error400.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<main>
<div class="container">
    <h1>Erreur 400 Bad Request</h1>

    <p>
        Bad request  <a href="{{ path('home') }}">Retour à l'accueil</a>.
    </p>
</div>
</main>
{% endblock %}