{# templates/bundles/TwigBundle/Exception/error500.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<main>
<div class="container">
    <h1>Erreur 500</h1>

    <p>
         Erreur interne du serveur   <a href="{{ path('home') }}">Retour à l'accueil</a>.
    </p>
</div>
</main>
{% endblock %}